.site-header.image {
    background-image: url('header-bg.jpg');
    background-position-y: 40%;
}

.heading-underline {
    padding-bottom: 0.5em;
    margin-bottom: 1.25em;
    position: relative;
}

.heading-underline::after {
    border-bottom: 3px solid;
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    min-width: 2rem;
    position: absolute;
    width: 1em;
    color: #fc0;
}

.bg-black {
    background-color: black;
}